
body {
  font-family: "Kanit", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.mcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.effect1 {
  position: absolute;
  margin: 0;
  top: 43%;
  font-size: 2.3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  z-index: 3;
  color: #F6A9BD;
}

.effect1 .letter {
  display: inline-block;
  line-height: 1em;
}

p {
  position: absolute;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #F0386B;
  font-weight: 100;
  top: 50%;
  z-index: 3;
  opacity: 0;
  top: 50%;
}

section {
  display: grid;
  grid-template-columns: repeat(10, auto);
}

.item {
  background-color: #F4E0E1;
  height: 100vh;
  z-index: 0;
}




















html {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}



        html body a, html body a:visited {
            text-decoration: none;
            color: #FF805F;
        }

        html body h4 {
            margin: 0;
            color: #666;
        }

.scene {
    width: 100%;
    height: 100%;
    -webkit-perspective: 600;
    perspective: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    padding-left: 35%;
    padding-top: 20%;
    background-color:#eeeeee;
}

    .scene svg {
        width: 240px;
        height: 240px;
    }

.dc-logo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

    .dc-logo:hover svg {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-animation: arrow-spin 2.5s 0s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation: arrow-spin 2.5s 0s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    }

    .dc-logo:hover:hover:before {
        content: '\2764';
        padding: 6px;
        font: 10px/1 Monaco, sans-serif;
        font-size: 10px;
        color: #00fffe;
        text-transform: uppercase;
        position: absolute;
        left: -70px;
        top: -30px;
        white-space: nowrap;
        z-index: 20px;
        box-shadow: 0px 0px 4px #222;
        background: rgba(0, 0, 0, 0.4);
    }

    .dc-logo:hover:hover:after {
        content: 'Digital Craft';
        padding: 6px;
        font: 10px/1 Monaco, sans-serif;
        font-size: 10px;
        color: #6E6F71;
        text-transform: uppercase;
        position: absolute;
        right: 0;
        top: -30px;
        white-space: nowrap;
        z-index: 20px;
        box-shadow: 0px 0px 4px #222;
        background: rgba(0, 0, 0, 0.4);
        background-image: none;
    }

@-webkit-keyframes arrow-spin {
    50% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes arrow-spin {
    50% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}